<div class="container-fluid mt-4">

    <!-- Área de filtro -->
    <div class="row gap-3 gap-lg-0">
        <div class="col-12 d-flex justify-content-center col-lg-2  offset-lg-1">
            <div class="card">
                <div class="card-header bg-light">
                    <p class="card-text text-center">
                        Filtros
                    </p>
                </div>
                <div class="card-body">
                    <form class="row">
                        <div class="col-6 col-lg-12">
                            <label>
                                De <span class="visually-hidden">Valor mínimo</span>
                                <input placeholder="00,00" class="form-control" type="text">
                            </label>
                        </div>
                        <div class="col-6 col-lg-12">
                            <label>
                                Até <span class="visually-hidden">Valor máximo</span>
                                <input placeholder="00,00" type="text" class="form-control">
                            </label>
                        </div>
                        </form>
                </div>
            </div>
        </div>

        <!-- Fim da Área de filtro -->
        <div class="col-9">
             carequinha
        </div>
        
    </div>
</div>