<div class="container-fluid mt-4">

    <div class="row gap-3 gap-lg-0">
        <!-- Área de filtro -->
        <div class="col-12 filtro d-flex justify-content-center col-lg-2 offset-lg-1">
            <div class="card">
                <div class="card-header bg-light">
                    <p class="card-text text-center">
                        Filtros
                    </p>
                </div>
                <div class="card-body">
                    <form class="row gap-lg-3">
                        <div class="col-6 col-lg-12">
                            <label class="form-label">
                                De <span class="visually-hidden">Valor mínimo</span>
                                <input  name="valorMinimo" placeholder="00,00" type="text" class="form-control border-primary" >
                            </label>
                        </div>
                        <div class="col-6 col-lg-12">
                            <label class="form-label">
                                Até <span class="visually-hidden">Valor máximo</span>
                                <input  name="valorMaximo" placeholder="00,00" type="text" class="form-control border-primary">
                            </label>
                        </div>
                            <div class="col-12 mt-3">
                                <button (click)="filtrar()" class="btn btn-outline-primary">Filtrar</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
        <!-- Fim da Área de filtro -->

        <!-- Lista de produtos -->
        <div class="col-12 col-lg-8">
        <app-produto-lista [events]="eventSubject.asObservable()" [filtros]="filtro" [livros]="_listaDeLivros"></app-produto-lista>
        </div>
    </div>
</div>