<div class="card">
    <img class="card-img-top" src="../../../../../assets/imagens/livro-img.jpg" alt="{{livro.nome}}">
    <small>
        <p class="text-muted mb-0">Photo by <a class="text-decoration-none text-muted" href="https://unsplash.com/@boliveira?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Bruno Oliveira</a> on <a class="text-decoration-none text-muted" href="https://unsplash.com/s/photos/livro?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </small>
    <div class="card-body pt-1">
        <h5 class="card-title text-center"><span class="visually-hidden">Nome</span> {{livro.nome}}</h5>
        <p><span class="visually-hidden">Categoria</span> {{livro.categoria}}</p>
        <p>Restando: {{livro.quantidade}}</p>
        <p><span class="visually-hidden">Preço</span> {{livro.preco | currency:'BRL'}}</p>
        <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-evenly">
                <button class="btn btn-primary">Comprar</button>
                <button [routerLink]="['/produtos/detalhes', livro.id]" class="btn btn-outline-primary">Detalhes</button>
            </div>
        </div>
    </div>
</div>