<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-around">
            <h1 class="my-5">Suporte</h1>
            <p class="mb-5">Entre em contato com nosso suporte pelos canais de atendimento:</p>
            <div class="d-sm-flex text-center justify-content-sm-between">
              
                <a href="mailto:ed_julio@outlook.com" class="btn btn-primary m-3 m-sm-0">
                    <i class="bi bi-envelope-fill"></i>
                    ed_julio@outlook.com
                </a>

                <a href="https://linkedin.com/in/julio-asec" target="_blank" class="btn btn-primary m-3 m-sm-0">
                    <i class="bi bi-linkedin"></i>
                    Linkedin
                </a>
               
                <a href="https://github.com/Julioasec" target="_blank" class="btn btn-primary m-3 m-sm-0">
                    <i class="bi bi-github"></i>
                    Github
                </a>
            </div>
        </div>
        <div class="col-md-6 d-none d-lg-block">
            <img class="border-bottom d-block"  width="400px" src="../../../../assets/imagens/menina-suporte.jpg" alt="Uma menina de camisa amarela e headset, alguns icones sobre sua cabeça, dando a entender que ela trabalha no suporte técnico">
            <a class="text-decoration-none text-muted" href='https://br.freepik.com/fotos-vetores-gratis/design-plano'>Design plano vetor criado por freepik - br.freepik.com</a>
        </div>
    </div>
</div>